<!DOCTYPE html>
<html>

<head>
    <script type=text/javascript src="static/js/svg-pan-zoom.min.js"></script>
</head>

<body style="overflow: hidden; margin: 0px;">
    <div style="width: 100%; height: 100px; margin: 10px;">
        <h1>Demo for svg-pan-zoom: SVG in HTML 'object' element</h1>
        <input list="brow">
        <datalist id="brow">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>
    </div>

    <object id="svg-graph" type="image/svg+xml" data="static/graphs/graph.gv.svg" style="width: 100%; height: 95vh; border-top:1px solid black"></object>
    <script>
        document.getElementById('svg-graph').addEventListener('load', function () {
            svgPanZoom(document.getElementById('svg-graph'), {
                controlIconsEnabled: true,
                zoomScaleSensitivity: 0.5
            });
        })
    </script>
</body>

</html>