<form class="flex-column mb-auto" method="post" onsubmit="submitForm(this, '/render_relatedtables');return false">
  <div class="mb-3">
    <label for="select-schemas" class="form-label">Schema</label>
    <select class="form-select" id="select-schemas" name="schemas" onchange="getTables(this.value, 'select-tables')">
      {% for schema in schemas %}
      <option value="{{schema}}">{{schema}}</option>"
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="select-tables" class="form-label">Table</label>
    <select class="form-select" id="select-tables" name="tables">
      {% for table in tables %}
      <option value="{{table}}">{{table}}</option>"
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="input-exclude" class="form-label">Exclude table</label>
    <input type="text" class="form-control-sm" id="input-exclude" name="exclude" />
  </div>
  <div class="mb-3">
    <label for="input-depth" class="form-label">Depth</label>
    <input type="number" class="form-control-sm" id="input-depth" name="depth" min="0" max="5" value="1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="checkbox-onlyrefs" name="onlyrefs" />
    <label class="form-check-label" for="checkbox-onlyrefs">Show only related fields</label>
  </div>
  <button type="submit" class="btn btn-primary" id="button-submit">Show</button>
</form>