<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} - ERD Viewer</title>
    <script type="text/javascript" src="static/js/svg-pan-zoom.min.js"></script>
    <script type="text/javascript">
        function gettables(opt) {
            var xhr = new XMLHttpRequest();
            xhr.responseType = 'json';
            xhr.open("POST", "/get_tables", true);
            xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            xhr.onload = function (e) {
                if (this.status == 200) {
                    select = document.getElementById("tablesSelect")
                    select.length = 0

                    for (table in this.response) {
                        option = document.createElement("option");
                        option.text = this.response[table];
                        option.value = this.response[table];
                        select.appendChild(option);
                    }
                }
            };
            xhr.send("schema=" + opt);
        }
    </script>
    {% endblock head %}
</head>

<body style="overflow:hidden">
    <div class="d-flex flex-row">
        {% block sidebar %}{% endblock sidebar %}
        {% include 'graph.html' %}
    </div>
</body>

</html>